body {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#logo-container {
    height:236px;
    width:100%;
    background-color: #34C5BA;
    display: flex;
    justify-content: center;
}

#header {
    width: 683px;
    height: 162px;
    justify-content: center;
}

#header-image {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

nav {
    background-color: #F16761;
    display: flex;
    justify-content: center;
    height: 57px;
    width: 100%;
}

.transition_white {
    color: #34C5BA;
    transition-property:color;
    transition-duration: 1s;
    transition-delay: .1s;
}

.transition_white:hover {
    color: #ffffff;
    transition-property:color;
    transition-duration: 1s;
    transition-delay: .1s;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
}

li {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    list-style-type: none;
    color: white;
}

a {
    text-decoration: none;
}

#photo-text {
    width: 100%;
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size-adjust: auto;
}

#portrait {
    width: 40%;
    height: 45%;
    border: solid white 0px;
    margin-left: 30px;
}

#photo-of-me {
    width: 100%;
    height: 100%;
}

#text {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}


/*Portfolio and Contact Page Stuff*/

#photos {
    display: flex;
    justify-content: row;
    margin-left: 15px;
    margin-right: 15px;
}

#photo1 {
 width: 33%;
    height: 33%;
    border: 1px;
    margin-top: 15px;
    display: flex;
}

#photo2 {
    width: 33%;
    height: 33%;
    border:  1px;
    margin-top: 15px;
    display: flex;
    margin-left: 15px;
}

#photo3 {
    width: 33%;
    height: 33%;
    border: 1px;
    margin-top: 15px;
    margin-left: 15px;
}

#photos2 {
    display: flex;
    justify-content: row;
    margin-left: 15px;
    margin-right: 15px;
}

#photo4 {
    width: 33%;
    height: 33%;
    border: 1px;
    margin-top: 15px;
    display: flex;
}

#photo5 {
    width: 33%;
    height: 33%;
    border: 1px;
    margin-top: 15px;
    display: flex;
    margin-left: 15px;
}

#photo6 {
    width: 33%;
    height: 33%;
    border: 1px;
    margin-top: 15px;
    display: flex;
    margin-left: 15px;
}

#photos3 {
    display: flex;
    justify-content: row;
    margin-left: 15px;
    margin-right: 15px;
}

#photo7 {
    width: 33%;
    height: 33%;
    border: 1px;
    margin-top: 15px;
    display: flex;
}

#photo8 {
    width: 33%;
    height: 33%;
    border: 1px;
    margin-top: 15px;
    display: flex;
    margin-left: 15px;
}

#photo9 {
    width: 33%;
    height: 33%;
    border: 1px;
    margin-top: 15px;
    display: flex;
    margin-left: 15px;
      }
h1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: #34C5BA;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    color: #34C5BA;
    font-family: 'Montserrat', sans-serif;
}

.contact-info {
    color: #34C5AB;
    transition-property:color;
    transition-duration: .5s;
    transition-delay: .2s;
}

.contact-info:hover {
     color: #21806E;
    transition-property:color;
    transition-duration: .5s;
    transition-delay: .2s;
}

/*PHOTO SLIDESHOW BEGINS*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  margin-left: 30px;
    margin-right: 30px;
  display: flex;
}

/* Hide the images by default */
.mySlid
es {
  display: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

 {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 30px) {
  .prev, .next,.text {font-size: 11px}
}

/*SLIDESHOW ENDS*/

#page-elements {
    width: 100%
    display: flex;
}

@media only screen and (max-width: 1050px){
    body {
        background-color: #DDFFF1;
}



